[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/qqhann/hugo-primer.git
[submodule "themes/techdoc"]
	path = themes/techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc
[submodule "themes/docuapi"]
	path = themes/docuapi
	url = https://github.com/bep/docuapi
[submodule "themes/onepress"]
	path = themes/onepress
	url = https://github.com/ijsucceed/onepress
[submodule "themes/w3-simple"]
	path = themes/w3-simple
	url = https://github.com/jesselau76/hugo-w3-simple
